body {
  background-color: #939597;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 20px;
}

.section__card {
  text-align: center;
  background-color: #f5df4d;
  border-radius: 10px;
  height: 100%;
  width: 90%;
  font-size: 150%;
  cursor: pointer;
}

#A1, #A2, #B1, #B2, #C1, #C2, #D1, #D2, #E1, #E2 {
  display: none;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reset-section{
  margin-top: 10px;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}